[submodule "submodules"]
	path = submodules
	url = https://github.com/shahidnasrullah/testing2.git
[submodule "TestingRepo"]
	path = TestingRepo
	url = https://github.com/shahidnasrullah/TestRepo.git
